---
layout: layouts/home.njk
fa-icon: 'fa-home'
eleventyNavigation:
  key: Home
  order: 1
  url: /#
---
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
 <h1 class="w3-xxxlarge"><span class="w3-hide-small">I'm</span> {{ metadata.title }}</h1>
  <p>Front-End Engineer | Web3.js-MongoDb-Express-React-Node</p>
  <img src="{{ 'img/w3images/man_smoke1.jpg' | url }}" alt="boy" class="w3-image" width="1100" height="1208">
</header>


<!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">About Me!</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>
      I'm a Full-Stack Web Developer whose major interest is building interactive, accessible, secure, fast and responsive websites. My project section contains some web application
      that I've built. Each of the projects was built with the aim of learning a specific skillset. During the period of learning and also Programming for over 3 years, I've learnt 
      alot of useful skillset, tools and mindset for real life applications. I can easily pick up frameworks, libraries and packages, learn them progressively to adapt to any company
      requirements. I'm currently open to Jobs and positions where I can contribute to your businesses or ideas. Kindly contact me if you want to work with me.     
    </p>
    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
    <p class="w3-wide">Html, CSS, JavaScript, React, Git</p>
    <div class="w3-white w3-round-large">
      <div class="w3-dark-grey w3-round-large" style="height:28px;width:95%"></div>
    </div>
    <p class="w3-wide">TailwindCSS, Next.js, Node.js, TypeScript</p>
    <div class="w3-white w3-round-large">
      <div class="w3-dark-grey w3-round-large" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Express.js, Web3.js, MongoDb, Git</p>
    <div class="w3-white w3-round-large">
      <div class="w3-dark-grey w3-round-large" style="height:28px;width:80%"></div>
    </div>
    
    <br>

    <button class="w3-button w3-light-grey w3-padding-large w3-section w3-round-large" onclick="window.open('{{ 'files/resume.pdf' | url}}')">
      <i class="fa fa-download"></i> Download Resume
    </button>
  </div>


<!-- Portfolio Section 
  <div class="w3-padding-16 w3-content" id="projects">
    <h2 class="w3-text-light-grey">My Projects</h2>
    <hr style="width:200px" class="w3-opacity">
-->
    <!-- Grid for projects -->
    <div class="w3-row-padding" style="margin:0 -16px">
{#     
<style>
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
  {% raw %}
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  {% endraw %}
}
</style> #}

<!-- List Of Projects Built Here-->
  <div class="row"> 
    <div class="column">
      </div><div class="column">
    </div>
    <div class="column">
      </div><div class="column">
    </div>
  </div>


     
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

<!-- Contact Section -->
  <div class="w3-padding-32 w3-content w3-text-grey" style="transform: translateX(35px)" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Akure, Nigeria. </p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> phone Num: +234 903 482 2470</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>Email: olowomarve@gmail.com </p>
    </div>
  <!-- End Contact Section -->
  </div> 


